<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.dao.goods_mapper">
<!-- 
	resultType
	public List<CartVO> cartListData(){
		...
		...
		ResutlSet rs = ps.executeQuery();
		while(rs.next()){
			CartVO vo = new CartVO();
			vo.set...
		}
		rs.close;
	}
	parameterType
	=> ?에 값을 채운다 \\> setString(1, id)
 -->
	<!-- 
		resultType == return (List / VO : selectList(while문 사용), selectOne)
		parameterType == 매개변수
	 -->
	
	<resultMap type="CartVO" id="goodsCartMap">
		<result property="bno" column="bno"/>
		<!--             ====           =====
					   set 메소드			get 메소드
		  -->
		<!-- 
			CratVO vo = new CartVO();
			vo.setBno(rs.getInt("bno))
		 -->
		<result property="gno" column="gno"/>
		<result property="id" column="id"/>
		<result property="account" column="account"/>
		<result property="total_price" column="total_price"/>
		<result property="regdate" column="regdate"/>
		<result property="buy_ok" column="buy_ok"/>
		<result property="gvo.goods_poster" column="goods_poster"/>
		<result property="gvo.goods_name" column="goods_name"/>
		<result property="gvo.goods_poster" column="goods_poster"/>
		<!-- 
			getGvo().setGoods_poster(rs.getString("goods_poster"));
		 -->
		
	</resultMap>
	<select id = "goodsCartListData" resultMap="goodsCartMap" parameterType="string"> <!-- 어떤 변수, 어떤 타입을 쓸건지 -->
		SELECT bno, gno, id, pgb.account, total_price, TO_CHAR(regdate,'YYYY-MM-DD') as dbday,
		buy_ok, goods_poster, goods_name, goods_price
		FROM project_goods_buy pgb, goods_all ga
		where pgb.gno = ga.no
		AND id = #{id}
	</select>
	<insert id = "goodsCartInsert" parameterType="CartVO">
		insert into project_goods_buy values(pgb_bno_seq.nextval, #{gno},#{id}, #{account},#{total_price},'n',sysdate)
	</insert>
	<delete id="goodsCartDelete" parameterType="int">
		delete from project_goods_buy
		where bno = #{bno}
	</delete>
</mapper>